.details-background {
  background-color: #684646;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 35% 60%;
}

.images-detail {
  max-width: 450px;
}

@media screen and (max-width: 600px) {
  .details-background {
    grid-template-columns: 1fr;
  }

  .details-description {
    margin-top: 4 0px;
  }
}
